---
is_home: true
---

<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body style="text-align: center;">
	{% include header.html %}

	<main class="container">
		<section class="grid">
			<div class="col border" style="border-width: 5px; gap: 40px; margin: auto; height: 100%; padding: 10px; width: 100%;">
				<img src="{{ '/assets/img/portrait.png' | relative_url }}" style="margin: 0 30px; width: 300px; margin: auto;">
				<div>
					<h1>Hi, I'm Astralmimi</h1>
					<p>VR Asset Creator</p>
					<p>ConFuzzled VR Portal Design Coordinator</p>
					<p>Space Chicken</p>
				</div>
			</div>
			<div class="col" style="gap: 40px; margin: auto; justify-content: space-evenly; height: 100%; padding: 30px 0;">
				<div>
					<h3>Shop</h3>
					<div class="row">
						<a role="button" class="big-button" href="https://astralmimi.gumroad.com">Gumroad</a>
					</div>
				</div>
				<div>
					<h3>Commissions</h3>
					<div class="row">
						<a role="button" href="pages/commissions">Price List</a>
						<a role="button" class="outline" href="pages/tos">ToS</a>
					</div>
				</div>
				<div>
					<h3>My Socials</h3>
					<div class="row">
						<a role="button" class="outline" href="https://bsky.app/profile/astralmimi.art">Bluesky</a>
						<a role="button" class="outline" href="https://mastodon.social/@Jellybeanyeen">Mastodon</a>
					</div>
				</div>
			</div>
		</section>
		<article>
			<header><h3>My Creations & Works</h3></header>
			<main class="grid-column-responsive" style="gap: 10px; margin: auto;">
				{% for post in site.posts %}
				{% if post.categories contains "creations" %}
				{% if post.hidden != true %}
					<div class="col showcase border {% if post.is_page != false %}showcase-link{% endif %}">
						{% if post.is_page != false %}
						<a class="col" style="flex: 1;" href="{{post.url}}">
							<div class="row" style="flex: 1;"><h4 style="margin-bottom: 0; padding: 20px 10px;">{{post.title}}</h4></div>
							<img src="{{post.preview}}" style="height: 380px;">
						</a>
						{% else %}
						<div class="col" style="flex: 1;">
							<div class="row" style="flex: 1;"><h4 style="margin-bottom: 0; padding: 20px 10px;">{{post.title}}</h4></div>
							<img src="{{post.preview}}" style="height: 380px;">
						</div>
						{% endif %}
					</div>
				{% endif %}
				{% endif %}
				{% endfor %}
			</main>

		</article>
	</main>

	{% include footer.html %}
</body>
</html>