---
og_image: /assets/preview.png
icon: /assets/favicon.png
---

<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body style="text-align: center;">
	<!--{% include header.html %}-->

	<main class="container">
		<section class="grid">
			{% include main.html %}
			{% include links.html %}
		</section>
		<article>
			<header><h3>My Creations</h3></header>
			<main style="overflow-x: auto;">
				<div style="display: flex; width: max-content; column-gap: 16px; margin-bottom: 10px;">
					{% for post in site.posts %}
						<div class="showcase border grid">
							<a href="{{post.url}}">
								<span>{{post.title}}</span>
							</a>
						</div>
					{% endfor %}
				</div>
			</main>
		</article>
	</main>

	{% include footer.html %}
</body>
</html>