<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{site.title}}</title>
<link rel="shortcut icon" href="assets/favicon.png" />
<link rel="stylesheet" href="{{ '/assets/css/pico.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="home" href="{{site.url}}">
<meta property="og:title" content="{{site.title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="{{site.url | append: page.og_image}}" />
<meta property="og:description" content="{{site.description}}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="robots" content="index, follow, noai, noimageai">
<meta property="og:see_also" content="https://astralmimi.gumroad.com" />