<div class="card" style="display: flex; flex-direction: column; gap: 40px; margin: auto; justify-content: space-evenly; height: 100%; padding: 30px 0;">
	<div>
		<h3>Buy my awesome stuff!</h3>
		<div>
			<a role="button" class="big-button" href="https://astralmimi.gumroad.com">Gumroad</a>
		</div>
	</div>
	<div>
		<h3>Commissions</h3>
		<p>
			I do avatar retextures for as little as $1,000,000!<br>
			Check my socials to see when i open!
		</p>
	</div>
	<div>
		<h3>My Socials</h3>
		<div>
			<a role="button" class="outline" href="https://bsky.app/profile/astralmimi.art">Bluesky</a>
			<a role="button" class="outline" href="https://mastodon.social/@Jellybeanyeen">Mastodon</a>
		</div>
	</div>
</div>