<article class="card" style="display: flex; flex-direction: column; justify-content: space-around;">
	<main style="display: flex; flex-direction: column; gap: 30px; padding: auto;">
		<div>
			<h3>Buy my awesome stuff!</h3>
			<div>
				<a role="button" href="https://astralmimi.gumroad.com">Gumroad</a>
				<a role="button" href="https://astralmimi.gumroad.com">test</a>
				<a role="button" href="https://astralmimi.gumroad.com">awawawa</a>
			</div>
		</div>
		<div>
			<h3>My Socials</h3>
			<div>
				<a role="button" class="outline" href="https://bsky.app/profile/astralmimi.art">Bluesky</a>
				<a role="button" class="outline" href="https://mastodon.social/@Jellybeanyeen">Mastodon</a>
			</div>
		</div>
	</main>
</article>